<!DOCTYPE html>
<html ng-app="mapWithToolbar1">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Custom opacity slider</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            
        <script src="https://code.jquery.com/jquery-1.11.0.js"></script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
            
        <script src="https://code.angularjs.org/1.2.8/angular.js"></script>
        <script src="https://code.angularjs.org/1.2.8/angular-route.js"></script>
        
        <script src="http://maps.google.com/maps/api/js?sensor=false&.js"></script>
            
        <script src="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
        <script src="http://geoscienceaustralia.github.io/geo-web-toolkit/dist/latest/geo-web-toolkit-min.js"></script>
        <style>
            #toolbar {
                padding: 0;
                float: left;
            }
            #toolbar > * {
                float: left;
            }
            .btn {
                margin: 5px 20px;
                clear: both;
            }
            #opacitySlider {
                width: 200px;
                height: 20px;
                border-radius: 0;
                margin: 0 20px;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
            }
            #opacitySlider .ui-slider-handle {
                height: 20px;
                background: red;
                margin-top: 3px;
                border-radius: 0;
                cursor: pointer;
            }
        </style>
    </head>
    <body ng-controller="ourMapController">
        <h1>Custom opacity slider</h1>
        <div id="toolbar">
            <div id="opacitySlider"><div id="opacityValueDisplay" ng-bind="opacityValue"></div></div>
            <input type="checkbox" ng-model="baseLayerVisibility" ng-change="toggleBaseLayerVisibility()" />
            <span>Toggle base layer on/off</span>
            <a class='btn btn-primary' ng-click="zoomToMax()"> Zoom to max </a>
        </div>
            
        <div id="map" style="width:100%;height:600px"></div>
    <ga-map
        map-element-id="map"
        datum-projection='EPSG:102100'
        display-projection='EPSG:4326'
        center-position='{"lat":"-3434403","lon":"14517578"}'
        zoom-level="4">
        <ga-map-layer
            layer-name="Overview World Screen"
            layer-type="GoogleStreet"
            is-base-layer="true">
        </ga-map-layer>
        <ga-map-layer
            layer-name="Topographic" 
            layer-type="WMS"
            layer-url="http://www.ga.gov.au/gis/services/hazards/EarthquakeHazard/MapServer/WMSServer" 
            is-base-layer="false"
            layers="hazardContours"
            background-color="#ffffff">
        </ga-map-layer>
        <ga-map-control map-control-name="mouseposition"></ga-map-control>
        <ga-map-control map-control-name="OverviewMap"></ga-map-control>
        <ga-map-control map-control-name="Permalink"></ga-map-control>
        <ga-map-control map-control-name="ScaleLine"></ga-map-control>
        <ga-map-control map-control-name="panzoombar"></ga-map-control>
    </ga-map>
        
    <script type="text/javascript">
        var opacitySlider = $("#opacitySlider");
        opacitySlider.slider({
            change: function(event,ui) {},
            slide: function(event,ui) {}
        });
        opacitySlider.slider("option", "value", 100);
    </script>
        
    <script>
        var app = angular.module('mapWithToolbar1',
        [
            'gawebtoolkit.core'
        ]);
        app.controller('ourMapController',['$scope', function ($scope) {
                
                $scope.$on('mapControllerReady', function(event,args){
                    $scope.mapController = args;
                    
                    $scope.$on('layersReady', function() {
                        $scope.baseLayerVisibility = $scope.mapController.getLayers()[0].visibility;
                        $scope.opacityValue = opacitySlider.slider("option", "value");
                    });
                    
                    $scope.toggleBaseLayerVisibility = function() {
                        $scope.mapController.setLayerVisibility($scope.mapController.getLayers()[0].id,$scope.baseLayerVisibility);
                    };
                    
                    opacitySlider.on("slide slidechange", function(event,ui) {
                        setOpacityValue();
                    });       
                    
                    
                    var setOpacityValue = function() {
                        $scope.opacityValue = opacitySlider.slider("option", "value");
                        $scope.$apply();
                        $scope.mapController.setOpacity(
                                $scope.mapController.getLayers()[0].id,
                        $scope.opacityValue/100);
                    };
                    
                    $scope.zoomToMax = function() {
                        $scope.mapController.zoomToMaxExtent();
                    };
                });
            }]);
    </script>
        
</body>
</html>